@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "PT-Astra-Sans";
  font-size: 1rem;
  min-width: 600px;
  display: grid;
  place-items: center;
}

.wrapper {
  min-height: 100vh;
  width: 80vw;
  display: grid;
  gap: 0px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
          "header"
          "main"
          "footer";
}

header {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "img div button"
    "img h2 h2";
}
header > img {
  grid-area: img;
}
header > div {
  grid-area: div;
}
header > button {
  grid-area: button;
}
header > h2 {
  grid-area: h2;
}
