@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT-Astra-Sans";
  src: url("../fonts/PT-Astra-Sans_Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
:root {
  --silant-color-blue: #163E6C;
  --silant-color-red: #D20A11;
  --silant-color-biege: #EBE6D6;
  --silant-color-biege-a: #EBE6D688;
}
body {
  font-family: "PT-Astra-Sans";
  font-size: 1rem;
  /*min-width: 600px;*/
}

#root {
  display: grid;
  place-items: center;
}

#root > .wrapper {
  min-height: 100vh;
  width: min(1200px, 100% - 3rem);
  display: grid;
  gap: 0px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
          "header"
          "main"
          "footer";
}

header {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 4rem 4rem;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "logo contact auth"
    "logo title auth";
  padding-top: 1rem;
  margin-bottom: 1rem;
}
header > .logo {
  grid-area: logo;
  min-width: 75px;
}
header > .contact {
  grid-area: contact;
  font-size: 1.2rem;
}
header > .auth {
  grid-area: auth;
}
header > .title {
  grid-area: title;
  font-size: min(1.5rem, max(1rem, 3vw));
  text-align: center;
  color: var(--silant-color-blue);
}
header > div > a:link {
  color: var(--silant-color-blue);
  text-decoration: none;
}
header > div > a:visited {
  color: #3d6696;
  text-decoration: none;
}
header > div > a:hover {
  color: #0e2c4d;
  text-decoration: none;
}

footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 2fr auto;
  align-items: center;
  justify-items: center;
  padding-bottom: 1rem;
}
footer > div > a:link {
  color: var(--silant-color-blue);
  text-decoration: none;
}
footer > div > a:visited {
  color: #3d6696;
  text-decoration: none;
}
footer > div > a:hover {
  color: #0e2c4d;
  text-decoration: none;
}

.btn {
  background-color: var(--silant-color-blue);
  border-color: var(--silant-color-blue);
  margin: 0 0.5rem 0 0.5rem;
}
header .btn {
  margin-top: 0.5rem;
}
header input {
  margin-top: 0.5rem;
}

input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

th {
  font-size: 0.9rem;
  font-weight: normal;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  max-height: 10rem;
  vertical-align: middle;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: var(--silant-color-biege-a);

}
.table-striped td {
  font-size: 0.8rem;
}
td, tr {
    border-top: none;
    border-bottom: none;
}
.table-striped>tbody tr:hover>td {

  color: var(--silant-color-blue);
  /*transition: ease-out 1s;*/
  cursor: pointer;


}
.table-striped>tbody tr:hover {
  /*transform: scale(1.01);*/
  background-color: #cec6ae;
  transition: ease-out .3s;
}


@media  (max-width: 650px) {
  td {
    display: block;
  }
  td::before {
    content: attr(data-cell) ": ";
  }
  th {
    display: none;
  }
  header {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4rem 4rem auto;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "logo contact"
    "logo title"
    "auth auth";
  padding-top: .5rem;
  margin-bottom: .5rem;
  }
  header input {
    max-width: 10rem;
  }
  header > .logo {
    min-width: 120px;
  }
}